.create-block {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.create-block__select:not(:last-child) {
  margin-right: 10px !important;
}

.create-middle {
  width: 100%;
  justify-content: space-between;
}
